@use '../config' as *;

.room {
    height: var(--vh);
    width: var(--vw);
    overflow: hidden;
    display: grid;
    grid-template-rows: 5rem auto 6rem;
    padding: 0.25rem;
    gap: 0.25rem;
}

.user-grid {
    height: 100%;
    width: 100%;
    padding: 0.25em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 0.5em;
    position: relative;
    overflow: auto;
}

@media screen and (max-width:400px) {
    .user-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: minmax(150px, auto);
    }
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 1rem;

    .room-id {
        display: grid;
        justify-items: center;
        color: var(--color-white);
        gap: 0.25rem;
        font-variation-settings: 'wght' 700;
        cursor: pointer;

        p {
            color: var(--color-grey);
        }
    }
}

.chat-btn {
    display: grid;
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    color: var(--color-white);
    background-color: transparent;
    padding: 0.25rem;
    justify-self: right;

    svg {
        height: 100%;
        width: 100%;
    }

    &.show-notification {

        &::after {
            content: '';
            position: absolute;
            background-color: var(--color-purple);
            border-radius: 50%;
            top: 0;
            right: 0;
            transform: translate(-0.5rem, 0.5rem);
            height: 0.75rem;
            width: 0.75rem;

        }
    }
}