.room {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-200);
    overflow: hidden;
}

.user-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}