.error {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0.75em;
    border-radius: 0.5em;
    background-color: var(--color-dark-100);
    outline: var(--color-red) solid 1px;
    color: var(--color-red);
    font-variation-settings: "wght" 600;
    z-index: 10000;
    animation: shake 3s linear 1 forwards;

    svg {
        height: 1.25em;
        width: 1.25em;
    }

    p {
        text-align: center;
    }
}

@keyframes shake {

    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }

    10% {
        transform: translate(-50%, 5em);
        opacity: 1;
    }

    13% {
        transform: translate(calc(-50% - 0.5em), 5em);
    }

    16% {
        transform: translate(calc(-50% + 0.5em), 5em);
    }

    19% {
        transform: translate(calc(-50% - 0.5em), 5em);
    }

    22% {
        transform: translate(calc(-50% + 0.5em), 5em);
    }

    25% {
        transform: translate(calc(-50% - 0.5em), 5em);
    }

    28% {
        transform: translate(-50%, 5em);
    }

    90% {
        transform: translate(-50%, 5em);
    }

    100% {
        transform: translate(-50%, -100%);
    }
}