 .user-icon-container {
     height: 100%;
     width: 100%;
     display: grid;
     place-items: center;
     position: absolute;

     .user-icon {
         border-radius: 50%;
         filter: drop-shadow(0 0 6px var(--color-purple));
         outline: var(--color-purple) solid 2px;
         display: grid;
         place-items: center;
         height: clamp(4em, 50%, 12em);
         aspect-ratio: 1 / 1;
         background-color: var(--color-dark-100);


         p {
             font-size: clamp(4em, calc(4vw + 4vh), 8em);
             font-variation-settings: 'wght' 700;
             color: var(--color-white);
             text-transform: uppercase;
             letter-spacing: 0.1ch;
         }
     }
 }