.profile {
    position: relative;
    display: grid;
    place-content: center;
    justify-self: right;
    margin: 1.25rem;

    button {
        height: 3.5rem;
        width: 3.5rem;
        background-color: transparent;

        svg {
            color: white;
            height: 100%;
            width: 100%;
        }
    }



}

.username {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-variation-settings: 'wght' 600;
    padding: 0.75rem;
    text-align: center;

}


.options {
    position: absolute;
    width: max-content;
    height: auto;
    top: 100%;
    right: 100%;
    transform: scale(1);
    z-index: 1000;
    border-radius: 0.75rem;
    opacity: 1;
    pointer-events: all;
    transition: all 0.1s ease;
    transform-origin: top right;
    display: grid;
    align-items: center;
    overflow: hidden;
    grid-template-columns: 1fr;

    &.hide {
        opacity: 0;
        pointer-events: none;
        transform: scale(0);

    }

    button {
        font-variation-settings: 'wght' 500;
        padding: 0 1.5rem;
        width: 100%;
        color: white;
        background-color: var(--color-dark-100);
        text-align: center;
        justify-self: center;

        &:hover {
            color: var(--color-dark-100);
            background-color: white;
        }
    }

}