@use '../../app/config' as *;

.join-room {
    @include page;
    display: grid;
    place-items: center;
    color: var(--white);
}

.enter-info {
    display: grid;
    place-items: center;
}

.enter-room-id,
.enter-username {
    position: relative;
    width: max(80%, 12em);

    span {
        color: var(--color-grey);
        position: absolute;
        pointer-events: none;
        top: 1.6em;
        left: 0;
        font-variation-settings: "wght" 600;
        font-size: calc(0.8 * 1.5em);
        margin: 0.5em 1em;
    }


    input:is(:focus, :valid) ~ span {
        background-color: var(--color-dark-200);
        color: var(--color-purple);
        top: 1.05em;
        left: 0.7em;
        font-size: 0.9em;
        font-variation-settings: "wght" 600;
        padding: 0 0.55em;
        margin: 0 0.5em;
        transition: all 0.1s ease-in-out;
    }

    input:invalid ~ span {
        transition: all 0.1s ease-in-out;
    }

    input:is(:focus, :valid) {
        transition: all 0.1s ease-in-out;
        border: 2px solid var(--color-purple);
    }


    input {
        background-color: transparent;
        color: var(--color-white);
        padding: 0.5em 0.75em;
        margin: 1em 0;
        outline: none;
        border-radius: 0.4em;
        border: 2px solid var(--color-grey);
        font-variation-settings: "wght" 600;
        font-size: 1.5em;
        width: 100%;
        letter-spacing: 0.1ch;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1em 0;
    width: max(80%, 12em);
}

.btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 1.25em;
    font-variation-settings: "wght" 700;
    border: none;
    border-radius: 0.75em;
    padding: 0.75em 1em;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    width: fit-content;
    gap: 1em;

    &:active {
        filter: brightness(0.8);
    }

    & > svg {
        height: 1.25em;
        width: 1.25em;

    }
}

@media screen and (max-width:600px) {

    .btn-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2em;
        margin: 1em 0;
        width: 15em;
        transform: scale(0.95);
    }

    .btn {
        font-size: 1.25em;
        width: 100%;
    }
}