.join-room {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    color: var(--white);

}

@keyframes shake {

    0% {
        // transform: scale(0);
        transform: translateY(calc(0vh - 100%));
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    14% {
        transform: translateX(-0.5em);
    }

    18% {
        transform: translateX(0.5em);
    }

    22% {
        transform: translateX(-0.5em);
    }

    26% {
        transform: translateX(0.5em);
    }

    30% {
        transform: translateX(0);
    }

    90% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(calc(0vh - 100%));
    }
}

.back-btn {
    background-color: transparent;
    color: var(--color-white);
    font-size: 1.2em;
    border: none;
    padding: 0.75em 1em;
    cursor: pointer;

    & > svg {
        height: 2em;
        width: 2em;
        fill: currentColor;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.form {
    display: grid;
    place-items: center;
    position: relative;
}

.enter-room-id,
.enter-username {
    position: relative;
    width: max(80%, 12em);

    span {
        color: var(--color-grey);
        position: absolute;
        pointer-events: none;
        top: 1.6em;
        left: 0;
        font-variation-settings: "wght" 600;
        font-size: calc(0.8 * 1.5em);
        margin: 0.5em 1em;
    }


    input:is(:focus, :valid) ~ span {
        background-color: var(--color-dark-200);
        color: var(--color-purple);
        top: 1.05em;
        left: 0.7em;
        font-size: 0.9em;
        font-variation-settings: "wght" 600;
        padding: 0 0.55em;
        margin: 0 0.5em;
        transition: all 0.1s ease-in-out;
    }

    input:invalid ~ span {
        transition: all 0.1s ease-in-out;
    }

    input:is(:focus, :valid) {
        transition: all 0.1s ease-in-out;
        border: 2px solid var(--color-purple);
    }


    input {
        background-color: transparent;
        color: var(--color-white);
        padding: 0.5em 0.75em;
        margin: 1em 0;
        outline: none;
        border-radius: 0.4em;
        border: 2px solid var(--color-grey);
        font-variation-settings: "wght" 600;
        font-size: 1.5em;
        width: 100%;
        letter-spacing: 0.1ch;
    }
}

.error {
    position: absolute;
    top: -4em;
    padding: 0.6em 1.5em;
    background-color: var(--color-red);
    color: var(--color-white);
    font-variation-settings: "wght" 500;
    font-size: 0.9em;
    border-radius: 0.4em;
    animation: shake 2s linear 1 forwards;
}