@use '../../app/config';

.join-room {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    color: var(--white);
    background: url('../../assets/images/blob-scene-haikei.svg') center / cover;
}

.back-btn {
    background-color: transparent;
    font-size: 1.2em;
    border: none;
    padding: 0.75em 1em;
    cursor: pointer;
    height: 2em;
    width: 2em;

    & > svg {
        height: 100%;
        width: 100%;
        color: var(--color-white);
    }
}

.form {
    display: grid;
    place-items: center;
    position: relative;
}

.enter-room-id,
.enter-username {
    position: relative;
    width: max(80%, 12em);

    span {
        color: var(--color-grey);
        position: absolute;
        pointer-events: none;
        top: 1.6em;
        left: 0;
        font-variation-settings: "wght" 600;
        font-size: calc(0.8 * 1.5em);
        margin: 0.5em 1em;
    }


    input:is(:focus, :valid) ~ span {
        background-color: var(--color-dark-200);
        color: var(--color-purple);
        top: 1.05em;
        left: 0.7em;
        font-size: 0.9em;
        font-variation-settings: "wght" 600;
        padding: 0 0.55em;
        margin: 0 0.5em;
        transition: all 0.1s ease-in-out;
    }

    input:invalid ~ span {
        transition: all 0.1s ease-in-out;
    }

    input:is(:focus, :valid) {
        transition: all 0.1s ease-in-out;
        border: 2px solid var(--color-purple);
    }


    input {
        background-color: transparent;
        color: var(--color-white);
        padding: 0.5em 0.75em;
        margin: 1em 0;
        outline: none;
        border-radius: 0.4em;
        border: 2px solid var(--color-grey);
        font-variation-settings: "wght" 600;
        font-size: 1.5em;
        width: 100%;
        letter-spacing: 0.1ch;
    }
}

.btn-container {
    display: grid;
    place-items: center;
    gap: 2em;
    width: 14em;
    margin: 2em 1em;
}

.btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 1.2em;
    font-variation-settings: "wght" 700;
    border: none;
    border-radius: 0.75em;
    padding: 0.75em 1em;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    width: 100%;
    gap: 0.5em;

    &:active {
        filter: brightness(0.8);
    }

    & > svg {
        height: 1.25em;
        width: 1.25em;

    }
}