@mixin page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@keyframes slide-from-left {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);

    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    10%,
    90% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}