.type {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 50%;
        background-color: transparent;
        padding: 1rem;
        font-size: 1.25rem;
        font-variation-settings: 'wght' 600;
        border: none;
        outline: none;
        color: var(--color-grey);
    }

    .mover {
        position: absolute;
        top: calc(3.25rem + 3px);
        left: 0;
        height: 0.25rem;
        width: 50%;
        background-color: var(--color-white);
        transition: all 0.2s;


    }

    .line {
        height: 2px;
        width: 100%;
        background-color: var(--color-grey);
    }

    &[data-type="log-in"] {
        button:nth-child(1) {
            color: var(--color-white);
        }

        .mover {
            transform: translate(0);
        }
    }

    &[data-type="sign-up"] {
        button:nth-child(2) {
            color: var(--color-white);
        }

        .mover {
            transform: translate(100%);
        }
    }
}



.auth-modal {
    transform: scale(1);
    display: grid;
    place-items: center;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1.5rem;
    background-color: var(--color-dark-200);
    z-index: 1000;
    margin: 1rem;
    width: clamp(300px, 50vw, 30rem);
    // height: clamp(500px, 50vh, 40rem);
    transition: all 0.2s ease;

    svg {
        height: 2rem;
        color: var(--color-white);
    }

    button {
        background-color: transparent;
        display: grid;
        place-content: center;
    }



    button[type="submit"] {
        background-color: var(--color-purple);
        padding: 0.5rem 1.5rem;
        font-variation-settings: 'wght' 600;
        color: white;
        font-size: 1.2rem;
        border-radius: 0.5rem;
    }
}

.input-util {
    --height: 1.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    border: 2px solid var(--color-grey);

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--color-white);
        justify-self: left;
        width: 100%;

        &::placeholder {
            color: var(--color-grey);
        }
    }

    svg {
        padding: 0.125rem;
        height: var(--height);
        width: var(--height);
        pointer-events: none;
    }
}

.forgot-password-link {
    cursor: pointer;
    font-size: 0.75rem;
    justify-self: right;
    color: var(--color-grey);
    margin-top: -1rem;

    &:hover {
        color: var(--color-purple);
    }
}

.container {
    height: var(--vh);
    width: var(--vw);
    background-color: rgb(0 0 0 / 0.8);
    display: grid;
    place-content: center;
    pointer-events: all;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s ease;


    &.hide {
        pointer-events: none;
        opacity: 0;

        .auth-modal {
            transform: scale(0.25);
        }
    }
}