.live-chat {
    height: 80vh;
    width: clamp(350px, 40%, 30rem);
    z-index: 1000;
    background-color: var(--color-dark-200);
    display: grid;
    grid-template-rows: auto 1.5rem min-content;
    padding: 2rem 0.25rem 1.5rem 0.25rem;
    margin: 0 0.5rem;
    border-inline: 2px solid var(--color-purple);
    border-top: 2px solid var(--color-purple);
    border-radius: 1.5rem 1.5rem 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 0.5rem));
    transition: transform 0.2s ease;

    &.show {
        transform: translateY(0);
    }
}

.messages {
    overflow: hidden / auto;
    padding: 0 0.75rem;

    &::-webkit-scrollbar {
        width: 0;
    }

    .meta {
        color: var(--color-grey);
        font-size: 0.75rem;
        text-align: center;
        width: 100%;
    }

}


.typing-users-status {
    color: var(--color-grey);
    font-size: 0.6rem;
    font-variation-settings: 'wght' 600;
    text-align: center;
    width: 100%;
    align-self: center;
}

.chat-bubble {
    margin: 0.5em 0;
    display: grid;
    justify-items: left;

    &.self {
        justify-items: right;

        .text {
            border-radius: 1.25em 1.25em 0 1.25em;
        }

    }

    .text {
        padding: 1rem 1rem;
        background-color: var(--color-dark-100);
        color: var(--color-white);
        border-radius: 1.25em 1.25em 1.25em 0;
        display: grid;
        justify-items: left;
        gap: 0.25rem;
        word-break: break-all;
        max-width: 75%;
        // font-size: 0.9rem;
    }


    .sender {
        font-size: 0.9em;
        color: var(--color-purple);
        font-variation-settings: 'wght' 600;
    }

    .data {
        font-variation-settings: 'wght' 400;
    }

    .time {
        font-size: 0.6rem;
        color: var(--color-grey);
        padding: 0.25rem 0;
    }
}

.messageBox {
    background-color: var(--color-dark-100);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 0.75rem;
    height: 3em;

    input {
        background-color: transparent;
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 0.5rem;
        font-size: 1rem;
        caret-color: var(--color-grey);
        color: var(--color-white);

        &::placeholder {
            font-variation-settings: 'wght' 500;
            color: var(--color-grey);
        }

    }

    .send-btn {
        height: 100%;
        width: 3rem;
        border-radius: 0.75rem;
        border: none;
        outline: none;
        color: white;
        background-color: var(--color-purple);
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            padding: 0.5em;
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width:450px) {
    .live-chat {
        width: calc(100% - 1rem);
        margin: 0.5rem;
    }
}