@use '../../app/config';

.remote-video {
    @include config.video-stream;

    video {
        object-fit: contain !important;
    }
}

.remote-username {
    @include config.username;

    .remote-video:hover > & {
        opacity: 1;
        transform: translateY(0);
    }
}