@use '../../app/config' as *;

.remote-video {
    @include video-stream;

    video {
        object-fit: contain !important;
    }
}

.remote-username {
    @include username;

    .remote-video:hover > & {
        opacity: 1;
        transform: translateY(0);
    }
}