@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-variable-font.woff2") format('woff2');
}

@mixin page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@mixin username {
    position: absolute;
    color: var(--color-white);
    width: 100%;
    text-align: center;
    margin-block: 1em;
    font-size: 1em;
    font-variation-settings: 'wght' 700;
    z-index: 10;
    opacity: 0;
    transform: translateY(-150%);
    transition: all 0.2s ease-in-out;
}

@mixin video-stream {
    position: relative;
    overflow: hidden;
    outline: var(--color-grey) solid 2px;
    height: 100%;
    width: 100%;
    border-radius: 2em;

    &:fullscreen {
        border-radius: 0;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);

    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    10%,
    90% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}