@mixin username {
    position: absolute;
    color: var(--color-white);
    width: 100%;
    text-align: center;
    margin-block: 1em;
    font-size: 1em;
    font-family: "Inter";
    font-variation-settings: 'wght' 700;
    z-index: 10;
    opacity: 0;
    transform: translateY(-150%);
    transition: all 0.2s ease-in-out;
}

@mixin video-stream {
    position: relative;
    overflow: hidden;
    outline: var(--color-grey) solid 1px;
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
}

@mixin error {
    position: absolute;
    top: -4em;
    padding: 0.6em 1.5em 0.6em 2.25em;
    background-color: var(--color-dark-100);
    outline: var(--color-red) solid 1px;
    color: var(--color-red);
    font-variation-settings: "wght" 600;
    border-radius: 0.4em;
    animation: shake 2s linear 1 forwards;
}

@keyframes slide-from-left {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);

    }

    to {
        transform: translateY(0%);
    }
}

@keyframes shake {

    0% {
        transform: translateY(0);
        opacity: 0;
    }

    10% {
        transform: translateY(400%);
        opacity: 1;
    }

    14% {
        transform: translateX(-0.5em) translateY(400%);
    }

    18% {
        transform: translateX(0.5em) translateY(400%);
    }

    22% {
        transform: translateX(-0.5em) translateY(400%);
    }

    26% {
        transform: translateX(0.5em) translateY(400%);
    }

    30% {
        transform: translateX(-0.5em) translateY(400%);
    }

    34% {
        transform: translateX(0) translateY(400%);
    }

    90% {
        transform: translateX(0) translateY(400%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    10%,
    90% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
}

@keyframes scale-up {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}