@use './config';

:root {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    user-select: none;
    scroll-behavior:smooth;
    -webkit-tap-highlight-color: transparent;

    --color-purple:hsl(253, 94%, 58%);
    --color-lightblue:hsl(208, 97%, 87%);
    --color-accent:hsl(18, 100%, 62%);
    --color-red: hsl(4, 100%, 58%);
    --color-dark-100:hsl(235, 21%, 16%);
    --color-dark-200:hsl(208, 100%, 5%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey:hsl(257, 12%, 65%);
    --color-grey-opaque:hsla(0, 0%, 100%, 0.3);
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-variable-font.woff2") format('woff2');

}

button {
    cursor: pointer;
    border: none;
}


polygon#elm4o3g09y01 {
    fill: lightsalmon !important;
}

polygon#elohfi28orqjb {
    fill: azure !important;
}

polygon#elf1m3yeay7yr {
    fill: lightpink !important;
}

polygon#elvzkpjystud9 {
    fill: lightblue !important;
}

.error {
    @include config.error;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: 1.25em;
        width: 1.25em;
        margin-inline: 0.5em;
        background: url('../assets/icons/error.svg') center / cover no-repeat;
    }
}

.router-link {
    text-decoration: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 1.2em;
    font-variation-settings: "wght" 700;
    border: none;
    border-radius: 0.75em;
    padding: 0.75em 1em;
    margin: 1em 0.5em;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;

    &:active {
        filter: brightness(0.8);
    }

    & > svg {
        height: 1.25em;
        width: 1.25em;
        margin: 0 0.25em;
        fill: currentColor;
    }
}