@use './config';

:root {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    user-select: none;
    scroll-behavior:smooth;
    -webkit-tap-highlight-color: transparent;

    --color-purple:hsl(253, 94%, 58%);
    --color-lightblue:hsl(208, 97%, 87%);
    --color-accent:hsl(18, 100%, 62%);
    --color-red: hsl(4, 100%, 58%);
    --color-dark-100:hsl(235, 21%, 16%);
    --color-dark-200:hsl(208, 100%, 5%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey:hsl(257, 12%, 65%);
    --color-grey-opaque:hsla(0, 0%, 100%, 0.3);
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-variable-font.woff2") format('woff2');

}

button {
    cursor: pointer;
    border: none;
}

svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
}

.fullscreen-btn {
    position: absolute;
    z-index: 10;
    margin: 1.75em;
    bottom: 0;
    right: 0;
    transform: translateY(300%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    height: 1.5em;
    width: 1.5em;

    svg {
        height: 100%;
        width: 100%;
        fill: var(--color-white);
        stroke: var(--color-white) !important;
    }

    div:hover > & {
        transform: translateY(0);
    }
}

.error {
    @include config.error;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: 1.25em;
        width: 1.25em;
        margin-inline: 0.5em;
        background: url('../assets/icons/error.svg') center / cover no-repeat;
    }
}

.router-link {
    all: unset;
    text-decoration: none;
}