@use '../config' as *;

.home {
  @include page;
  position: relative;
  display: grid;
  place-items: center;
  color: var(--white);
}

.github-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  height: 1.5em;
  width: 1.5em;
  color: var(--color-white);
}


.banner {
  margin: 2em;
  animation: slide-down 0.5s 1 forwards;
  color: var(--color-white);

  .app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(2vw + 3em);

    p {
      font-size: calc(1.5vw + 2.5em);
      font-variation-settings: "wght" 700;
    }

    img {
      height: 100%;
      padding: 0.5em;
    }
  }

  .app-description {
    color: var(--color-grey);
    font-size: calc(0.75vw + 0.75em);
    font-variation-settings: "wght" 700;
    text-align: center;
    margin: 0.5em;
  }

}

.illustration {
  margin: 1em 2em;
  width: clamp(5em, 75%, 25em);
  aspect-ratio: 1 / 1;
}

.main-container {
  width: 80%;
  display: grid;
  place-items: center;
  gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.room-id-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 3em;
  width: 100%;
  margin-block: 0.5em;
}

.room-id {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;
  text-align: center;
  color: var(--color-white);
  border-radius: 0.5em;
  background-color: rgb(0 0 0 / 0.5);
  outline: var(--color-grey) solid 1px;
  flex-grow: 0.75;
  flex-shrink: 1;
  font-size: 1.25em;
  font-weight: 600;

  p {
    letter-spacing: 0.25ch;
    user-select: text;
    margin: auto;
  }
}

.tooltip {
  position: absolute;
  font-variation-settings: "wght" 600;
  font-size: 0.9em;
  background-color: var(--color-white);
  color: var(--color-dark-200);
  border-radius: 0.6em;
  border: 1px solid var(--color-white);
  padding: 0.5em;
  top: -220%;
  left: 50%;
  transform: translateX(-50%);
  animation: show-up 2s ease 1 forwards;

  &::before {
    --border-width: 0.4em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    border-right: var(--border-width) solid transparent;
    border-left: var(--border-width) solid transparent;
    border-bottom: var(--border-width) solid transparent;
    border-top: var(--border-width) solid var(--color-white);
  }
}

.copy-btn {
  position: relative;
  display: flex;
  border: none;
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
  height: 1.75em;
  width: 1.75em;
  margin-right: 0.75em;

}

.share-btn {
  position: relative;
  display: flex;
  color: var(--color-white);
  background-color: var(--color-purple);
  border-radius: 0.75em;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0.5em 0.75em;
  flex-shrink: 0;
}


.loader {
  height: 100%;
  width: 100%;
}

.btn-container {
  display: grid;
  place-items: center;
  gap: 2em;
  width: 15em;
  margin-bottom: 2em;
}

.btn {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 1.2em;
  font-variation-settings: "wght" 700;
  border: none;
  border-radius: 0.75em;
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  width: 100%;
  gap: 0.5em;

  &:active {
    filter: brightness(0.8);
  }

  & > svg {
    height: 1.25em;
    width: 1.25em;

  }
}

@media screen and (max-width:600px) {

  .btn-container {
    animation: slide-up 0.5s 1 forwards;
  }
}

@media screen and (min-width:600px) {

  .illustration {
    animation: slide-from-left 0.5s 1 forwards;
  }

  .animate-btns {
    animation: slide-from-right 0.5s 1 forwards;
  }
}

@media screen and (max-height:800px) {
  .home {
    overflow: auto;
  }
}