.remote-video {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    outline: var(--color-grey) solid 2px;
    height: 100%;
    width: 100%;
    margin: 0.25em;

    video {
        object-fit: contain !important;
        transform: scale(-1, 1) !important;
    }
}

.remote-username {
    position: absolute;
    color: var(--color-white);
    width: 100%;
    text-align: center;
    margin-block: 1em;
    font-size: 1em;
    font-family: "Inter";
    font-variation-settings: 'wght' 700;
    text-shadow: 0 0 5px var(--color-purple);
    z-index: 10;
    opacity: 0;
    transform: translateY(-150%);
    transition: all 0.2s ease-in-out;

    .remote-video:hover > & {
        opacity: 1;
        transform: translateY(0);
    }
}

.remote-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;

    .remote-video:hover > & {
        opacity: 1;
        transform: translateY(0%);
    }
}

.btn-on {
    background-color: var(--color-purple);
}

.btn-off {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-on,
.btn-off {
    border-radius: 50%;
    margin: 0.75em;
    display: inline-flex;
    transition: all 0.1s linear;
    height: 4em;
    width: 4em;

    svg {
        height: 100%;
        width: 100%;
        padding: 1em;
        color: var(--color-white);
        fill: currentColor;
    }

    &:active:not(:disabled) {
        transform: scale(0.95);
    }

    &:disabled {
        cursor: not-allowed;
        filter: brightness(0.5);
    }
}