@use '../../app/config' as *;

.user {
    position: relative;
    overflow: hidden;
    outline: var(--color-purple) solid 2px;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    background-color: var(--color-dark-100);

    &:fullscreen {
        border-radius: 0;

    }

    video {
        object-fit: contain !important;
        background-color: var(--color-dark-100);
    }
}

.user-icon-container {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;

    .user-icon {
        border-radius: 50%;
        height: clamp(2em, 50%, 12em);
        aspect-ratio: 1 / 1;
        overflow: hidden;
        user-select: none;

        svg {
            background-color: var(--color-purple);

            text {
                font-size: 0.5px;
                font-variation-settings: 'wght' 600;
                fill: var(--color-dark-100);
            }
        }
    }
}

.user-info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em;
    opacity: 0;
    z-index: 10;
    transform: translateY(100%);
    transition: all 0.3s;

    .user:hover > & {
        opacity: 1;
        transform: translateY(0);

    }
}

div[data-client] {

    .fullscreen-btn {
        display: none;
    }
}

.username {
    background-color: var(--color-dark-200);
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    color: var(--color-white);
    opacity: 0.7;
    width: fit-content;
    font-size: 1em;
    font-variation-settings: 'wght' 700;
}

.fullscreen-btn {
    height: 1.25em;
    width: 1.25em;
    background-color: transparent;
    margin: 0 0.5em;

    svg {
        height: 100%;
        width: 100%;
        fill: var(--color-white);
        stroke: var(--color-white) !important;
    }
}

@media screen and (max-width:450px) {
    .user-info {
        padding: 0.75em;
    }

    .username {
        font-size: 0.75em;
        width: min-content;
    }
}