.exit-modal-container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0 0 0 / 0.5);
    position: absolute;
    top: 0;
    z-index: 1000;
}

.exit-modal {
    background-color: var(--color-dark-100);
    border-radius: 1em;
    width: clamp(18em, 90%, 24em);
    padding: 1em;

    p {
        color: var(--color-white);
        font-size: 1.2em;
        font-variation-settings: "wght" 600;
        text-align: center;
        margin-block: 0.5em 1em;
    }

    .options {
        display: flex;
        justify-content: space-evenly;
        margin-block: 1em;

        button {
            font-size: 1.2em;
            font-variation-settings: "wght" 600;
            border: none;
            border-radius: 0.5em;
            padding: 0.5em 1.75em;
            display: flex;
            justify-content: space-evenly;
            cursor: pointer;
            width: fit-content;
        }

        .stay-btn {
            background-color: var(--color-purple);
            color: var(--color-white);
        }

        .leave-btn {
            background-color: var(--color-red);
            color: var(--color-white);
        }
    }
}