.exit-modal-container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0 0 0 / 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.exit-modal {
    background-color: var(--color-dark-100);
    border-radius: 1em;
    width: clamp(18em, 90%, 24em);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

    p {
        font-size: 1.2em;
        font-variation-settings: "wght" 600;
        color: var(--color-white);
        text-align: center;
    }

    .options {
        display: flex;
        justify-content: space-evenly;
        gap: 1em;

        button {
            font-size: 1.2em;
            font-variation-settings: "wght" 600;
            color: var(--color-white);
            border: none;
            border-radius: 0.5em;
            padding: 0.5em 1.75em;
            display: flex;
            cursor: pointer;
            transition: all 0.2s;

            &:active {
                transform: scale(0.97);
            }
        }

        .stay-btn {
            background-color: var(--color-dark-100);
            outline: var(--color-white) solid 2px;

            &:hover {
                background-color: var(--color-white);
                color: var(--color-dark-100);
            }
        }

        .leave-btn {
            background-color: var(--color-dark-100);
            outline: var(--color-red) solid 2px;
            color: var(--color-red);

            &:hover {
                background-color: var(--color-red);
                color: var(--color-dark-100);
            }
        }
    }
}