.page {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-dark-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.illustration {
    flex-shrink: 1;
    height: calc(100% - 10em);
    width: 100%;
    padding: 1em;

    svg {
        height: 100%;
        width: 100%;
    }
}

.back-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 0.5em 1.5em;
    margin: 3em 1em;
    font-variation-settings: 'wght' 600;
    font-size: 1em;
    border-radius: 0.5em;
    flex-shrink: 0;
}