@use '../../app/config';

.client-controls {
    display: grid;
    place-items: center;
    background-color: transparent;

    & > div {
        border-radius: 1.5em;
        padding: 0.75em;
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dark-100);
        width: clamp(18em, calc(100% - 1em), 25em);
        outline: var(--color-grey-opaque) solid 1px;
        animation: slide-up ease 0.5s 1 forwards;
    }

}

.btn-on {
    background-color: var(--color-purple);
}

.btn-off {
    background-color: var(--color-grey-opaque);
}

.btn-on,
.btn-off {
    border-radius: 50%;
    display: flex;
    transition: all 0.1s linear;
    width: clamp(3.5em, 100%, 4em);

    svg {
        height: 100%;
        width: 100%;
        padding: 25%;
        color: var(--color-white);
        fill: currentColor;
    }

    &:active:not(:disabled) {
        transform: scale(0.97);
    }

    &:disabled {
        cursor: not-allowed;
        filter: brightness(0.5);
    }
}

.exit-btn {
    background-color: var(--color-red);
    outline: var(--color-red) solid 2px;
    outline-offset: -1px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    transform: rotate(135deg);
    transition: all 0.2s;
    width: clamp(4em, 100%, 5em);

    svg {
        height: 100%;
        width: 100%;
        padding: 25%;
        fill: var(--color-white);
    }

    &:where(:hover, :focus) {
        outline-offset: 3px;
    }
}