@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
    }

    to {
        transform: translate(-50%, 0);
    }
}

.btn-on {
    background-color: var(--color-purple);
}

.btn-off {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-on,
.btn-off {
    border-radius: 50%;
    margin: 0.75em;
    display: inline-flex;
    transition: all 0.1s linear;
    height: 4em;
    width: 4em;

    svg {
        height: 100%;
        width: 100%;
        padding: 1em;
        color: var(--color-white);
        fill: currentColor;
    }

    &:active:not(:disabled) {
        transform: scale(0.95);
    }

    &:disabled {
        cursor: not-allowed;
        filter: brightness(0.5);
    }
}

.exit-btn {
    background-color: var(--color-red);
    outline: var(--color-red) solid 2px;
    outline-offset: -1px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.75em;
    display: inline-flex;
    transform: rotate(135deg);
    transition: all 0.2s;
    height: 5em;
    width: 5em;

    svg {
        height: 100%;
        width: 100%;
        padding: 1.25em;
        fill: var(--color-white);
    }

    &:where(:hover, :focus, :active) {
        outline-offset: 3px;
        transform: rotate(135deg) scale(0.95);
    }
}

.client-controls {
    background-color: var(--color-dark-100);
    border-radius: 3em 3em 0 0;
    padding: 0.25em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50vw;
    bottom: 0;
    animation: slide-up ease 0.5s 1 forwards;
}