@use '../../app/config';

.client {
    @include config.video-stream;

    &.mirrored > video {
        transform: scale(-1, 1) !important;
        object-fit: contain !important;
    }

    video {
        object-fit: contain !important;
    }
}


.client-username {
    @include config.username;

    .client:hover > & {
        opacity: 1;
        transform: translateY(0);

    }
}