@use '../../app/config' as *;

.float {
    position: absolute;
    height: max(120px, 20vh);
    width: max(120px, 20vw);
    top: 0;
    left: 0;
    margin: 0.75em;
    z-index: 1000;
    border-radius: 2em;

    &:not(:fullscreen) {
        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }
}


.mirrored {
    video {
        transform: scale(-1, 1);
    }
}