@use '../../app/config';

.screen-share {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    outline: var(--color-grey-opaque) solid 2px;
    height: 100%;
    width: 100%;

    video {
        object-fit: contain !important;
    }
}

.screen-username {
    @include config.username;

    .screen-share:hover > & {
        opacity: 1;
        transform: translateY(0);

    }
}