:root {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    user-select: none;

    --primary-blue: hsl(245, 57%, 45%);
    --secondary-lavender: hsl(263, 55%, 83%);
    --dark:hsl(258, 33%, 10%);
    --light-purple:hsl(247, 37%, 40%);
    --white: hsl(0, 0%, 100%);
    --error: hsl(12, 100%, 50%);
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_wght.woff2") format('woff2');

}

@keyframes pop {

    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(1) translateY(0);
    }

    14% {
        transform: translateX(-0.5em);
    }

    18% {
        transform: translateX(0.5em);
    }

    22% {
        transform: translateX(-0.5em);
    }

    26% {
        transform: translateX(0.5em);
    }

    30% {
        transform: translateX(0);
    }

    90% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(0);
    }
}