@use './config' as *;

@media (hover:hover) {
    .video:hover > .controls {
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.2s ease-in-out;
    }

    .video:not(:hover) > .controls {
        opacity: 0;
        transform: translateY(calc(100% + 2em));
        transition: all 0.2s ease-in-out;
    }
}

.room {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .video-grid {
        background-color: var(--dark);
        height: 100%;
        width: 100%;
        display: grid;
        gap: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 1fr;
        overflow: auto;

        .video {
            position: relative;
            overflow: hidden;
            display: grid;
            gap: 1em;
            place-items: center;
            border-radius: 1em;
            border: 2px solid gray;

            .avatar-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -55%);
                max-height: 65%;
                max-width: 65%;
            }
        }
    }
}


.controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 20;
    width: 100%;
    margin-bottom: 1em;

    button {
        cursor: pointer;
        border: none;
        border-radius: 50%;
        margin: 1.5em;

        svg {
            height: 4em;
            color: var(--white);
            padding: 0.5em;
            margin: 0.5em;
            fill: currentColor;
        }
    }
}

.exit-btn {
    background-color: var(--error);
    transform: scale(1.3);
    margin: 0.5em 0.5em;
    outline: var(--error) solid 1px;
    outline-offset: 4px;
}


.exit-modal {
    background-color: var(--white);
    color: var(--dark);
    border-radius: 1em;
    box-shadow: 0 0 6px var(--dark);
    display: none;
    place-items: center;
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        margin: 2em 2em;
        font-size: 1.2em;
        font-variation-settings: "wght" 600;
    }

    div {
        display: flex;
        justify-content: center;

        button {
            background-color: var(--primary-blue);
            color: var(--white);
            font-size: 1.2em;
            font-variation-settings: "wght" 600;
            border: none;
            border-radius: 0.75em;
            padding: 0.75em 1.25em;
            margin: 1em 1em;
            display: flex;
            justify-content: space-evenly;
            cursor: pointer;
            width: fit-content;

            &:nth-child(2) {
                background-color: var(--error);
                color: var(--white);
            }
        }

    }

}